<div class="container-fluid">
    <div class="row gap-20 masonry pos-r">
        <div class="masonry-item col-md-12">
            <div class="bgc-white p-20 bd">
                <div class="col-sm-12">
                    <div class="button-bar hidden-xs float-right">
                        <button ng-click="backToList()" class="btn btn-sm btn-primary" type="button">
                            <span class="ti ti-angle-left"></span>
                            Quay lại danh sách
                        </button>
                    </div>
                </div>
                <div class="mT-30">
                    <form name="editForm" id="editForm" class="col-lg-12 form-validation form-horizontal userForm"
                          role="form" ng-submit="submit()" novalidate>
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 col-md-2 col-lg-2 control-label">Ảnh đại diện-->
                        <!--</label>-->
                        <!--<div class="col-sm-10">-->
                        <!--<img src="{{admin.photo ? admin.photo : '/assets/images/anonymous.png'}}"-->
                        <!--class="bdrs-50p imageAvatar">-->
                        <!--<div class="fileuploadButton">-->
                        <!--<input class="fileInput" type="file" title=" " nv-file-select uploader="uploader"-->
                        <!--onclick="this.value=null" accept=".gif,.jpg,.jpeg,.png"-->
                        <!--id="FileUploader">-->
                        <!--<a href="javascript:void(0)">-->
                        <!--<i class="fa fa-upload"></i>-->
                        <!--<span>Thay ảnh</span>-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--<div class="text-danger" ng-show="invalidExtension">-->
                        <!--<span class="udi-small udi udi-exclamation-triangle"></span>-->
                        <!--{{invalidFileName}} {{'UPLOAD_FILE_VALID' | translate}}-->
                        <!--{{filters.join(', ')}}.-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label for="inputFullName" class="col-sm-2 control-label">Họ và tên
                                <strong class="text-danger">*</strong>
                            </label>
                            <div class="col-sm-10">
                                <input server-error ng-required="true" name="fullName" ng-model="admin.fullName"
                                       type="text"
                                       ng-blur="visitedFullname = true"
                                       ng-focus="visitedFullname = false"
                                       ng-model-onblur
                                       ng-class="{'has-error': (editForm.fullName.$touched || !editForm.fullName.$pristine) && editForm.fullName.$invalid && visitedFullname}"
                                       class="form-control" id="inputFullName"
                                       placeholder="Họ và tên" autocomplete="off"
                                       maxlength="35">

                                <div ng-show="editForm.fullName.$invalid && visitedFullname && !editForm.fullName.$untouched"
                                     style="color:red" role="alert">
                                    <span ng-show="editForm.fullName.$error.required">Họ và tên không được để trống</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email
                                <strong class="text-danger">*</strong>
                            </label>
                            <div class="col-sm-10">
                                <input server-error name="email" ng-model="admin.email" type="text"
                                       ng-blur="visitedEmail = true"
                                       ng-focus="visitedEmail = false"
                                       ng-pattern='/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/'
                                       ng-model-onblur
                                       ng-class="{'has-error': (editForm.email.$touched || !editForm.email.$pristine)  && editForm.email.$invalid && visitedEmail}"
                                       class="form-control" id="inputEmail"
                                       placeholder="Email" autocomplete="off"
                                       ng-required="true">

                                <div ng-show="editForm.email.$invalid && visitedEmail && !editForm.email.$untouched"
                                     style="color:red" role="alert">
                                    <span ng-show="editForm.email.$error.required">Email không được để trống</span>
                                    <span ng-show="editForm.email.$error.pattern">Email không đúng định dạng.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label"> Mật khẩu
                                <strong class="text-danger" ng-if="isNew">*</strong>
                            </label>
                            <div class="col-sm-10">
                                <input server-error name="password" ng-model="admin.password" ng-required="isNew"
                                       ng-blur="visitedPassword = true"
                                       ng-focus="visitedPassword = false"
                                       ng-model-onblur
                                       ng-keydown="$event.keyCode !== 32 ? $event:$event.preventDefault()"
                                       ng-minlength="6"
                                       ng-class="{'has-error': (editForm.password.$touched || !editForm.password.$pristine) && editForm.password.$invalid && visitedPassword}"
                                       ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()"
                                       ng-paste="$event.preventDefault()"
                                       type="password" autocomplete="off"
                                       class="form-control" id="inputPassword"
                                       placeholder="Mật khẩu">

                                <span ng-if="!isNew"
                                      class="help-block">Để trống nếu bạn không muốn thay đổi mật khẩu.</span>

                                <div ng-show="editForm.password.$invalid && visitedPassword && !editForm.password.$untouched"
                                     style="color:red" role="alert">
                                    <span ng-show="editForm.password.$error.required && isNew">Mật khẩu không được để trống</span>
                                    <span ng-show="editForm.password.$error.minlength">Mật khẩu phải nhập ít nhất 6 ký tự.</span>
                                </div>

                            </div>

                        </div>
                        <!-- <div class="form-group">
                            <label for="inputRepeatPassword" class="col-sm-2 control-label"> {{ 'DOCTOR_MODULE.REPEAT_PASSWORD' | translate }}
                                <strong class="text-danger" ng-if="isNew">*</strong>
                            </label>
                            <div class="col-sm-10">
                                <input server-error name="inputRepeatPassword" ng-model="repeatPassword" ng-required="isNew" ng-minlength="3" type="password"
                                    autocomplete="off" class="form-control" id="inputRepeatPassword" placeholder="{{ 'DOCTOR_MODULE.REPEAT_PASSWORD' | translate }}">
                                <span ng-if="!isNew" class="help-block">{{ 'DOCTOR_MODULE.HELP_BLOCK_REPEAT_PASSWORD' | translate }}</span>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Chức vụ
                            </label>
                            <div class="col-sm-10">
                                <input server-error name="title" ng-model="admin.title" type="text" class="form-control"
                                       ng-model-onblur
                                       id="inputTitle" placeholder="Chức vụ"
                                       autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputDob" class="col-sm-2 control-label">Ngày sinh<strong
                                    class="text-danger">*</strong></label>
                            <div class="col-sm-10">
                                <input e-datepicker
                                       on-focus="visitedBirthday"
                                       ng-class="{'has-error': (editForm.birthday.$touched || !editForm.birthday.$pristine) && editForm.birthday.$invalid && visitedBirthday}"
                                       ng-model-options="{ updateOn: 'default'}"
                                       data-inputmask="'alias': 'dd/mm/yyyy', 'clearIncomplete': true"
                                       class="form-control" input-value="admin.birthday" id="inputDob"
                                       name="birthday"
                                       placeholder="Ngày sinh"
                                       autocomplete="off" ng-required="true">
                            </div>
                            <div ng-show="!editForm.birthday.$invalid && visitedBirthday && !editForm.birthday.$untouched"
                                 style="color:red"
                                 role="alert">
                                <span ng-show="editForm.password.$error.required">Ngày sinh không được để trống.</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label">Giới tính
                                <strong class="text-danger">*</strong>
                            </label>
                            <div class="col-sm-12">
                                <label class="ui-radio">
                                    <input name="radio1" ng-model="admin.gender" type="radio" ng-value="1">&nbsp;&nbsp;
                                    <label>Nam </label>
                                </label>&nbsp;&nbsp;
                                <label class="ui-radio">
                                    <input name="radio1" ng-model="admin.gender" type="radio" ng-value="0">&nbsp;&nbsp;
                                    <label>Nữ</label>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputAddress" class="col-sm-2 control-label">Địa chỉ
                            </label>
                            <div class="col-sm-10">
                                <input server-error name="address" ng-model="admin.address" type="text"
                                       ng-model-onblur
                                       class="form-control" id="inputAddress"
                                       placeholder="Địa chỉ"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone" class="col-sm-2 control-label">Số điện thoại
                            </label>
                            <div class="col-sm-10">
                                <input server-error name="phone" ng-model="admin.phone"
                                       ng-model-onblur
                                       ng-class="{'has-error': editForm.phone.$invalid}"
                                       type="text" class="form-control"
                                       id="inputPhone" placeholder="Số điện thoại"
                                       autocomplete="off" ng-pattern="/^[0-9]*$/">
                            </div>
                            <div class="col-sm-10 text-danger" ng-show="editForm.phone.$invalid">{{'ENTER_PHONE_INVALID'
                                | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Cấp quyền</label>
                            <div class="col-sm-10">
                                <ui-select ng-model="userRole.friendlyName" theme="bootstrap" search-enabled="false">
                                    <ui-select-match placeholder="Quyền sử dụng">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="i.friendlyName as i in roleApprove">
                                        <span ng-bind="i.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-2 control-label">Kích hoạt</label>-->
                        <!--<div class="col-sm-10">-->
                        <!--<label class="custom-control custom-checkbox">-->
                        <!--<input type="checkbox" class="custom-control-input" ng-model="admin.enabled">-->
                        <!--<span class="custom-control-indicator"></span>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Là kế toán</label>
                            <div class="col-sm-10">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" ng-model="admin.isAccountant">
                                    <span class="custom-control-indicator"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10" e-route-name="admin.update">
                                <button ng-disabled="!isFormValid() || formProcessing" type="submit"
                                        class="btn btn-success">{{ 'SUBMIT' | translate }}
                                </button>
                                <div ng-show="!isFormValid()" class="callout callout-info">
                                    <p>{{ 'VALID_FORM' | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>