<div class="sidebar" ui-view="nav"></div>

<div class="page-container">
    <div class="header navbar" ui-view="header"></div>

    <main class="main-content bgc-grey-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <alert-box has-alerts="hasAlerts"></alert-box>
                </div>
            </div>
        </div>
        <div id="mainContent" ui-view="content"></div>
    </main>

    <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
        <span>Copyright © 2018 Loc Phat. All rights reserved.</span>
    </footer>
</div>

<div class="modal fade" id="storeModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chọn cửa hàng</h4>
            </div>
            <div class="modal-body">
                <form name="storeForm">
                    <div class="form-group">
                        <ui-select ng-model="storeSelected.storeId" theme="bootstrap" search-enabled="true">
                            <ui-select-match allow-clear="true" placeholder="Cửa hàng">
                                <span ng-bind-html="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item._id as item in storeList | filter : {name: $select.search} ">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-disabled="!storeSelected.storeId"
                            ng-click="saveStore()">
                        <i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Hoàn tất
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>