<hot-table hot-id="my-handsontable"
           settings="settings"
           style="overflow: hidden; width: 100%;"
           datarows="contracts">
    <hot-column data="contractNo" title="'Số hợp đồng'" type="'text'" width="170" read-only></hot-column>
    <hot-column data="customer.name" title="'Họ và tên'" type="'text'" width="150" read-only></hot-column>
    <hot-column data="createdAt" title="'Ngày vay'" type="'text'" width="100" read-only></hot-column>
    <hot-column data="loanMoney" title="'Gói vay'" width="100" type="'numeric'" format="'#,###'"
                read-only></hot-column>
    <hot-column data="actuallyCollectedMoney" title="'Thực thu'" width="100" type="'numeric'"
                format="'#,###'" read-only></hot-column>
    <hot-column data="totalMoneyNeedPay" title="'Dư nợ'" width="120" type="'numeric'"
                format="'#,###'" read-only></hot-column>
    <hot-column data="totalMoneyPaid" title="'Đã đóng'" width="100" type="'numeric'"
                format="'#,###'" read-only></hot-column>
    <hot-column data="loanDate" title="'Số ngày vay'" type="'numeric'" width="100" read-only></hot-column>
    <hot-column data="transferDate" title="'Ngày chuyển'" type="'text'" width="100" read-only></hot-column>
    <hot-column data="actionTransf" title="'Thao tác'" type="'text'" width="280" read-only></hot-column>
</hot-table>

<div class="modal fade" id="hopDongChotModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chuyển chốt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.contractCreatedAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newTransferDate" e-datepicker
                                       ng-click="openDate($event,1)"
                                       is-open="opened"
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày hẹn:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newAppointmentDate" e-datepicker
                                       is-open="opened2"
                                       ng-click="openDate($event,2)"
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="contractSelected.newPayMoney" format-number
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng trả gốc:
                            </label>
                            <div class="col-md-7">
                                <input type="text" name="payMoneyOriginal" format-number
                                       ng-model="contractSelected.payMoneyOriginal"
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-click="saveChotModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hopDongBeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chuyển bễ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.contractCreatedAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newTransferDate" e-datepicker
                                       ng-click="openDate($event,1)"
                                       is-open="opened"
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">Ngày hẹn:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newAppointmentDate" e-datepicker
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="contractSelected.newPayMoney" format-number
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng trả gốc:
                            </label>
                            <div class="col-md-7">
                                <input type="text" name="payMoneyOriginal" format-number
                                       ng-model="contractSelected.payMoneyOriginal"
                                       class="form-control textAlign"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-click="saveBeModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ketThucModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kết thúc hợp đồng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.contractCreatedAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newTransferDate" e-datepicker
                                       ng-click="openDate($event,1)"
                                       is-open="opened"
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số tiền đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="contractSelected.payMoneyOriginal" format-number
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" ng-click="saveKetThucModal()"
                        ng-disabled="contractSelected.payMoneyOriginal > contractSelected.moneyContractOld">
                    <i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>