<hot-table hot-id="my-handsontable"
           settings="settings"
           row-headers="settings.rowHeaders"
           min-spare-rows="settings.minSpareRows"
           datarows="contracts">
    <hot-column data="contractNo" title="'Số hợp đồng'" type="'text'" width="150" read-only></hot-column>
    <hot-column data="customer.name" title="'Họ và tên'" type="'text'" width="200" read-only></hot-column>
    <hot-column data="loanMoney" title="'Tiền vay'" width="200" type="'numeric'" format="'#,###'"
                read-only></hot-column>
    <hot-column data="actuallyCollectedMoney" title="'Thực thu (Tiền vay + lãi)'" width="200" type="'numeric'"
                format="'#,###'" read-only></hot-column>
    <hot-column data="loanDate" title="'Số ngày vay'" type="'numeric'" width="100" read-only></hot-column>
    <hot-column data="customer.phone" title="'Điện thoại'" type="'text'" width="150" read-only></hot-column>
</hot-table>

<!--<div class="modal fade" id="customerContractModal">-->
    <!--<div class="modal-dialog modal-lg" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title">Thông tin khách hàng</h4>-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="btn-group">-->
                    <!--<button class="btn btn-success" ng-class="{active: currentView === 'basicDay'}"-->
                            <!--ng-click="changeView('basicDay', 'myCalendar1')">Theo ngày-->
                    <!--</button>-->
                    <!--<button class="btn btn-success" ng-class="{active: currentView === 'basicWeek'}"-->
                            <!--ng-click="changeView('basicWeek', 'myCalendar1')">Theo Tuần-->
                    <!--</button>-->
                    <!--<button class="btn btn-success" ng-class="{active: currentView === 'month'}"-->
                            <!--ng-click="changeView('month', 'myCalendar1')">Theo Tháng-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="widget-box">-->
                    <!--<div class="calendar" ng-model="eventSources" calendar="myCalendar1"-->
                         <!--ui-calendar="uiConfig.calendar">-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>&ndash;&gt;-->
                <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->