<div ng-init="init()"></div>
<div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="index.html">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer">
                            <div class="logo">
                                <img class="left-menu-logo" src="/assets/images/logo.png" alt="">
                            </div>
                        </div>
                        <!--<div class="peer peer-greed">-->
                            <!--<h5 class="lh-1 mB-0 logo-text">Quản trị</h5>-->
                        <!--</div>-->
                    </div>
                </a>
            </div>
            <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                    <a href="" class="td-n">
                        <i class="ti-arrow-circle-left"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r ps">
        <li ng-repeat="item in menuItems" ng-class="{'nav-item dropdown':item.noneDropdown, 'nav-item dropdown': !item.noneDropdown }"
            class="nav-item mT-30 active"
            ng-show="item.visible">
            <a ng-if="item.noneDropdown" class="sidebar-link" ui-sref="{{item.state}}">
                <span class="icon-holder">
                    <i class="{{item.icon}}"></i>
                </span>
                <span class="title">{{item.title}}</span>
            </a>

            <a ng-if="!item.noneDropdown" class="dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false" data-display="static">
                <span class="icon-holder">
                    <i class="{{item.icon}}"></i>
                </span>
                <span class="title">
                    {{item.title}}
                </span>
                <span class="arrow">
                    <i class="ti-angle-right"></i>
                </span>
            </a>
            <ul ng-if="!item.noneDropdown" class="dropdown-menu">
                <li ng-repeat="child in item.children" ng-show="child.visible">
                    <a class="sidebar-link" ui-sref="{{child.state}}">
                        {{child.title}} <span ng-if="child.countNumber" class="badge badge-danger" style="margin-left: 5px">{{countInfo[child.countNumber]}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>