<div class="panel panel-default">
    <div class="panel-heading">Account Statistics</div>
    <ul class="list-unstyled report list-info">
        <!--<li>-->
            <!--<label>Estimated Revenue</label>-->
            <!--<span class="pull-right">{{ dataStatistics.estRevenue | currency }}</span>-->
        <!--</li>-->
        <!--<li>-->
            <!--<label>Estimated CPM</label>-->
            <!--<span class="pull-right">{{ dataStatistics.estCpm | currency:'$':4 }}</span>-->
        <!--</li>-->
        <li>
            <label>{{ 'DASHBOARD_MODULE.SLOT_OPPORTUNITIES' | translate }}</label>
            <span class="pull-right">{{ dataStatistics.slotOpportunities | number }}</span>
        </li>
        <li>
            <label>{{ 'DASHBOARD_MODULE.NETWORK_OPPORTUNITIES' | translate }}</label>
            <span class="pull-right">{{ dataStatistics.totalOpportunities | number }}</span>
        </li>
        <li>
            <label>{{ 'DASHBOARD_MODULE.IMPRESSIONS' | translate }}</label>
            <span class="pull-right">{{ dataStatistics.impressions | number }}</span>
        </li>
        <li>
            <label>{{ 'DASHBOARD_MODULE.PASSBACKS' | translate }}</label>
            <span class="pull-right">{{ dataStatistics.passbacks | number }}</span>
        </li>
        <li>
            <label>{{ 'DASHBOARD_MODULE.FILL_RATE' | translate }}</label>
            <span class="pull-right">{{ dataStatistics.fillRate | percentage }}</span>
        </li>
    </ul>
</div>