<h4 class="title-page">Phế cho nhân viên Tháng {{date | date:'MM/yyyy'}}</h4>
<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <!--<div e-table datatable-config="tableConfig" filter="filter">-->
    <div class="filter-region">
        <div class="row col-sm-12">
            <!--<div class="col-sm-2" ng-if="isAccountant || isRoot">-->
            <!--<ui-select ng-model="userSelected.id" theme="bootstrap" search-enabled="true"-->
            <!--on-select="selectedStaffEvent($item)">-->
            <!--<ui-select-match placeholder="Tháng">-->
            <!--<span ng-bind-html="$select.selected.fullName"></span>-->
            <!--</ui-select-match>-->
            <!--<ui-select-choices repeat="i._id as i in usersByStore | filter : {fullName: $select.search}">-->
            <!--<span ng-bind-html="i.fullName | highlight: $select.search"></span>-->
            <!--</ui-select-choices>-->
            <!--</ui-select>-->
            <!--</div>-->

            <!--<div class="col-sm-2" ng-if="isAccountant || isRoot">-->
            <!--<ui-select ng-model="userSelected.id" theme="bootstrap" search-enabled="true"-->
            <!--on-select="selectedStaffEvent($item)">-->
            <!--<ui-select-match placeholder="Năm">-->
            <!--<span ng-bind-html="$select.selected.fullName"></span>-->
            <!--</ui-select-match>-->
            <!--<ui-select-choices repeat="i._id as i in usersByStore | filter : {fullName: $select.search}">-->
            <!--<span ng-bind-html="i.fullName | highlight: $select.search"></span>-->
            <!--</ui-select-choices>-->
            <!--</ui-select>-->
            <!--</div>-->

            <div class="col-sm-3" style="padding-left: 0px;" ng-if="isAccountant || isRoot">
                <ui-select ng-model="userSelected.storeId" theme="bootstrap" search-enabled="true"
                           on-select="selectedStoreEvent($item)">
                    <ui-select-match placeholder="Cửa hàng">
                        <span ng-bind-html="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="i._id as i in stores | filter : {name: $select.search}">
                        <span ng-bind-html="i.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-sm-3" ng-if="isAccountant || isRoot">
                <ui-select ng-model="userSelected.id" theme="bootstrap" search-enabled="true"
                           on-select="selectedStaffEvent($item)">
                    <ui-select-match placeholder="Nhân viên">
                        <span ng-bind-html="$select.selected.fullName"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="i._id as i in usersByStore | filter : {fullName: $select.search}">
                        <span ng-bind-html="i.fullName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row col-sm-12" style="margin-bottom: 15px;">
        <div class="search-result" ng-show="keyword && total !== ''">Có {{total}} hiển thị phù hợp với tiêu chí
            tìm kiếm
        </div>
    </div>
    <div class="table-responsive mt10 mb20" style="background: #ffffff;">
        <table class="table table-bordered table-history" style="margin-bottom: 0px !important;">
            <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Số hợp đồng</th>
                <th class="text-center">Tên khách hàng</th>
                <th class="text-center">Ngày vay</th>
                <th class="text-center">Ngày đáo</th>
                <th class="text-center">Ngày hết họ</th>
                <th class="text-center">Gói vay</th>
                <th class="text-center">Số ngày vay</th>
                <th class="text-center">Tiền phế</th>
                <th class="text-center" e-route-name="contract.editPheStaff">Thao tác</th>
                <th class="text-center">Người sửa</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="contracts.length > 0" ng-repeat="item in contracts">
                <td style="width: 65px" class="text-center">{{(pagination.page - 1) * pagination.per_page +
                    $index +
                    1}}
                </td>
                <td class="text-left" style="width: 120px">{{item.contractNo}}</td>
                <td class="text-left" style="width: 170px">{{item.customerId.name}}</td>
                <td class="text-right" style="width: 100px">{{item.createdAt | date: 'dd/MM/yyyy'}}</td>
                <td class="text-right" style="width: 100px">{{item.maturityDate | date: 'dd/MM/yyyy'}}</td>
                <td class="text-right" style="width: 100px">{{item.contractEndDate | date: 'dd/MM/yyyy'}}</td>
                <td class="text-right" style="width: 100px">{{item.loanMoney | number}}</td>
                <td class="text-right" style="width: 100px">{{item.loanDate}}</td>
                <td class="text-right" style="width: 120px">
                    <span ng-if="!item.isEdit" class="text-danger">{{item.commissionFee.receive | number}}</span>
                    <input id="comFee-{{$index}}" ng-if="item.isEdit" type="text" class="form-control text-right"
                           value="{{item.commissionFee.receive | number: 0}}" ng-blur="formatNumber($index,item)"/>
                </td>
                <td class="text-center" style="width: 70px" e-route-name="contract.editPheStaff">
                    <button ng-if="!item.isEdit" class="btnAction btn btn-success" ng-click="editComFee(item)"><span
                            class="fa fa-pencil-square-o"></span>&nbsp;Sửa
                    </button>
                    <button ng-if="item.isEdit" class="btnAction btn btn-danger" ng-click="editComFee(item)"><span
                            class="fa fa-times"></span>&nbsp;Hủy
                    </button>
                </td>
                <td class="text-left" style="width: 150px">{{item.commissionFee.lastUserNameUpdate}}</td>
            </tr>

            <tr ng-show="contracts.length === 0">
                <td colspan="8" class="text-center">
                    Không tìm thấy bản ghi nào
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="text-right" colspan="8">TỔNG:
                </th>
                <th class="text-right text-danger">{{totalMoneyFee() | number}}</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="box-all" ng-if="pagination.totalItems/pagination.per_page > 1" style="float: unset">
        <div class="col-md-4 col-md-offset-4 ">
            <div class="search-result-page--pagination-container-variant">
                <pagination total-items="pagination.totalItems" ng-model="pagination.page"
                            ng-click="pageChanged()"
                            class="pagination-sm" items-per-page="pagination.per_page" previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"></pagination>
            </div>
        </div>
    </div>
</div>
