<div class="bgc-white bd bdrs-3 p-20 mB-20" ng-show="!showInfoCus">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active"><a ui-sref=".contractNew">Hợp đồng mới</a></li>
        <!--<li ui-sref-active="active"><a ui-sref=".contractOld">Hợp đồng cũ</a></li>-->
        <li ui-sref-active="active"><a ui-sref=".cusCirculation">Lưu thông</a></li>
        <li ui-sref-active="active"><a ui-sref=".laiDung">Lãi đứng</a></li>
        <li ui-sref-active="active"><a ui-sref=".thuVe">Thu về</a></li>
        <li ui-sref-active="active"><a ui-sref=".chot">Chốt</a></li>
        <li ui-sref-active="active"><a ui-sref=".be">Bễ</a></li>
        <li ui-sref-active="active"><a ui-sref=".ketThuc">Kết thúc</a></li>
        <li ui-sref-active="active"><a ui-sref=".hetHo">Hết họ</a></li>
        <li ui-sref-active="active"><a ui-sref=".daoHan">Đáo hạn</a></li>
    </ul>
    <div class="tab-content">
        <div ui-view="content" class="tab-pane col-md-12 bgc-white p-20 active">

        </div>
    </div>
</div>

<div class="bd bdrs-3 p-20 mB-20" ng-if="showInfoCus">
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#InfoCus" data-toggle="tab">
            <button ng-click="hideInfoCus()" class="close closeTab" type="button">×</button>
            Thông tin khách hàng</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane col-md-12 bgc-white p-20 active" id="InfoCus"
             style="background-color: #f7f8fa !important;">
            <div class="cold-md-12" style="text-align: center;" ng-show="formProcessing">
                <i class="fa fa-spinner fa-pulse fa-3x" style="text-align: center;"></i>
            </div>

            <div class="row" ng-show="!formProcessing">
                <div class="col-md-4">
                    <div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
                        <img ng-src="{{selectedCustomer.customer.photo || '/assets/images/anonymous.png'}}"
                             class="bdrs-50p imageAvatar">
                        <!--<i class="fa fa-spinner fa-pulse fa-3x"></i>-->
                        <div>
                            <!--<input class="fileInput" type="file" title=" " nv-file-select-->
                            <!--uploader="uploader" onclick="this.value=null"-->
                            <!--accept=".gif,.jpg,.jpeg,.png"-->
                            <!--id="FileUploader">-->
                            <input class="fileInput" type="file" ngf-select="uploadNew($file)" type="file"
                                   ngf-pattern="'image/*'"
                                   ngf-accept="'image/*'" ngf-resize="{width: 400, height: 400, centerCrop: true}"
                                   title=" ">
                            <a href="#">
                                <i class="fa fa-upload"></i>
                                <span>Thay đổi ảnh</span>
                            </a>

                            <!--<img ngf-thumbnail="filePreview" class="thumb">-->
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="col-md-12 form-inline row-border label-style">
                            <div class="form-group col-md-12 ptb5">
                                <label class="col-md-6 control-label">
                                    Họ và tên:
                                </label>
                                <div class="col-md-6 control-label">
                                        <span> {{selectedCustomer.customer.name}}
                                        </span>
                                </div>
                            </div>
                            <div class="form-group col-md-12 ptb5">
                                <label class="col-md-6 control-label">
                                    Gói vay:
                                </label>
                                <div class="col-md-6 control-label">
                                        <span class="handsontable-td-red"> {{contractInfo.loanMoney | number}}
                                        </span>
                                    <span> VNĐ</span>
                                </div>
                            </div>
                            <div class="form-group col-md-12 ptb5">
                                <label class="col-md-6 control-label">
                                    Thực thu:
                                </label>
                                <div class="col-md-6 control-label">
                                        <span class="handsontable-td-red"> {{contractInfo.actuallyCollectedMoney | number}}
                                        </span>
                                    <span> VNĐ</span>
                                </div>
                            </div>
                            <div class="form-group col-md-12 ptb5">
                                <label class="col-md-6 control-label">
                                    Dư nợ:
                                </label>
                                <div class="col-md-6 control-label">
                                        <span class="handsontable-td-red"> {{contractInfo.moneyContractOld | number}}
                                        </span>
                                    <span> VNĐ</span>
                                </div>
                            </div>
                            <div class="form-group col-md-12 ptb5">
                                <label class="col-md-6 control-label">
                                    Ngày vay:
                                </label>
                                <div class="col-md-6 control-label">
                                        <span>
                                            {{contractInfo.createdAt}}
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 ptb5 mt20">
                        <ui-select ng-model="filter.contractNo" theme="bootstrap"
                                   on-select="fromSelected($item, $model)">
                            <ui-select-match placeholder="Số hợp đồng">
                                <span ng-bind="$select.selected.contractNo"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item.contractNo as item in contracts">
                                <span ng-bind="item.contractNo"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="btn-group">
                        <button class="btn btn-success" ng-class="{active: currentView === 'basicDay'}"
                                ng-click="changeView('basicDay', 'myCalendar1')">Theo Ngày
                        </button>
                        <button class="btn btn-success" ng-class="{active: currentView === 'basicWeek'}"
                                ng-click="changeView('basicWeek', 'myCalendar1')">Theo Tuần
                        </button>
                        <button class="btn btn-success" ng-class="{active: currentView === 'month'}"
                                ng-click="changeView('month', 'myCalendar1')">Theo Tháng
                        </button>
                    </div>
                    <div class="col-md-12 widget-box">
                        <div class="calendar" ng-model="eventSources" calendar="myCalendar1"
                             ui-calendar="uiConfig.calendar" ng-if="eventSources.length > 0">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dongTienModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đóng tiền</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.contractCreatedAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày đóng:
                            </label>
                            <div class="col-md-7">
                                <input id="payDate" input-value="contractSelected.payDate" e-datepicker
                                       class="form-control datemask" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Tiền trả gốc:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="contractSelected.newPayMoney" format-number
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-disabled="!contractSelected.payDate || contractSelected.newPayMoney <= 0"
                        ng-click="dongTienFunc()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suaTienDongModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sửa tiền đã đóng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.contractCreatedAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số tiền đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="contractSelected.payMoneyOriginal" format-number
                                       class="form-control textAlign inputSuaTienDongModal"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" ng-click="editDongTienFunc()"
                        ng-disabled="contractSelected.payMoneyOriginal < 0">
                    <i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>
