<div class="row mb-20">
    <div class="col-sm-1" e-route-name="contract.update" ng-if="storeSelected.userId">
        <button type="button" class="btn btn-primary" ng-click="saveCirculation()"
                ng-disabled="checkedList.length === 0">Lưu
        </button>

    </div>
    <div class="col-sm-2" e-route-name="contract.viewDate">
        <input input-value="filter.date" e-datepicker class="form-control" type="text" placeholder="Chọn ngày">
    </div>

    <div class="col-sm-3">
        <ui-select ng-model="filter.status" theme="bootstrap" search-enabled="false">
            <ui-select-match placeholder="Trạng thái">
                <span ng-bind="$select.selected.title"></span>
            </ui-select-match>
            <ui-select-choices repeat="i.value as i in status">
                <span ng-bind="i.title"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div class="row mb-20" style="align-items: center;">
    <!--<div class="col-sm-3" ng-if="contracts.length > 0">-->
        <!--<input class="mt15" type="checkbox" ng-model="checkbox.checkAll" id="checkAll">-->
        <!--<label class="form-check-label">-->
        <!--</label>-->
    <!--</div>-->

    <!--<div class="col-sm-3" ng-if="checkedList.length > 0">-->
    <!--<button type="button" class="btn btn-success" ng-click="showModal(0)">Đáo</button>-->
    <!--<button type="button" class="btn btn-success" ng-click="showModal(1)">Thu về</button>-->
    <!--<button type="button" class="btn btn-success" ng-click="showModal(2)">Chốt</button>-->
    <!--<button type="button" class="btn btn-success" ng-click="showModal(3)">Bễ</button>-->
    <!--</div>-->
</div>

<!--row-headers="settings.rowHeaders"-->
<!--min-spare-rows="settings.minSpareRows"-->
<hot-table hot-id="my-handsontable"
           settings="settings"
           on-after-init="onAfterInit()"
           datarows="contracts">
    <hot-column data="isActive" title="' '" type="'checkbox'" checked-template="true"
                unchecked-template="false" width="40"></hot-column>
    <hot-column data="contractNo" title="'Số hợp đồng'" type="'text'" width="100" read-only></hot-column>
    <hot-column data="customer.name" title="'Họ và tên'" type="'text'" width="150" read-only></hot-column>
    <hot-column data="totalHavePay" title="'Dư Nợ'" width="100" type="'numeric'"
                format="'#,###'" read-only></hot-column>
    <hot-column data="totalMoneyPaid" title="'Đã đóng'" width="100" type="'numeric'"
                format="'#,###'" read-only></hot-column>
    <hot-column data="moneyHavePay" title="'Đóng/ ngày'" width="100" type="'numeric'"
                format="'#,###'" read-only></hot-column>
    <!--<hot-column title="'Đóng nhanh'" type="'text'" width="140" read-only></hot-column>-->
    <hot-column data="moneyPaid" title="'Đóng trong ngày'" width="130" type="'numeric'"
                format="'#,###'"></hot-column>
    <hot-column data="contractStatus" title="'Thao tác'" type="'text'" width="150" read-only></hot-column>
    <hot-column data="status" title="'Trạng thái'" type="'text'" width="80" read-only></hot-column>
    <hot-column data="contractStatus" title="'Hợp đồng'" type="'text'" width="80" read-only></hot-column>

    <!--<hot-column data="loanEndDate" title="'Ngày hết hạn'" width="150" type="'date'" correct-format="true"-->
    <!--date-format="'DD/MM/YYYY'" read-only></hot-column>-->
    <!--<hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">-->
    <!--<hot-autocomplete datarows="description in product.options"></hot-autocomplete>-->
    <!--</hot-column>-->
</hot-table>

<div class="modal fade" id="laiDungModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lãi Đứng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label> {{selectedCirculation.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="selectedCirculation.newPayMoney" blur-currency
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" ng-click="saveLaiDungModal()"
                        ng-disabled="selectedCirculation.newPayMoney === 0 || selectedCirculation.newPayMoney > selectedCirculation.moneyContractOld">
                    <i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hopDongDaoModal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đáo hạn</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-3 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-5 control-label">
                                <label> {{selectedCirculation.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-3 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-5 control-label">
                                <label>
                                    {{selectedCirculation.createdAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-3 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-4 control-label">
                                <input type="text" name="selectedCirculation.newLoanMoney" blur-currency
                                       ng-model="selectedCirculation.newLoanMoney"
                                       class="form-control textAlign"/>
                            </div>
                            <div class="col-md-5">
                                - (<span style="color:red;">{{selectedCirculation.moneyContractOld | number}}</span>) =
                                <span style="color:red;">{{selectedCirculation.totalMoney
                                | number}}</span> (VNĐ)
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-3 control-label">
                                Tiền thực thu:
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="newActuallyCollectedMoney" blur-currency
                                       ng-model="selectedCirculation.newActuallyCollectedMoney"
                                       class="form-control textAlign"/>
                            </div>
                            <div class="col-md-5">
                                Thực thu
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-3 control-label">
                                Số ngày vay:
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="newLoanDate"
                                       ng-model="selectedCirculation.newLoanDate"
                                       class="form-control textAlign"/>
                            </div>
                            <div class="col-md-5">
                                Ngày => ( <span
                                    style="color:red;">{{selectedCirculation.newDailyMoney | number}} </span> VNĐ / 1
                                ngày )
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-disabled="selectedCirculation.totalMoney < 0"
                        ng-click="saveDaoModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hopDongThuVeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thu về</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{filterDateFormat}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">Đóng hàng ngày:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="selectedCirculation.dailyMoneyPay" blur-currency
                                       class="form-control textAlign" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="selectedCirculation.moneyContractOld" blur-currency
                                       class="form-control textAlign" readonly/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Tiền góp nhẹ:
                            </label>
                            <div class="col-md-7">
                                <input type="text" name="newMoneyThuVe" blur-currency
                                       ng-model="selectedCirculation.newActuallyCollectedMoney"
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-disabled="selectedCirculation.newActuallyCollectedMoney <= 0"
                        ng-click="saveThuVeModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hopDongBeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bễ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{selectedCirculation.newBeLoanDate}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="selectedCirculation.newPayMoney" blur-currency
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">Ngày hẹn:
                            </label>
                            <div class="col-md-7">
                                <input input-value="selectedCirculation.newAppointmentDate" e-datepicker
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-disabled="!selectedCirculation.newAppointmentDate || selectedCirculation.newPayMoney <= 0"
                        ng-click="saveBeModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hopDongChotModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chốt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{selectedCirculation.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{selectedCirculation.contractCreatedAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="selectedCirculation.newPayMoney" blur-currency
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7">
                                <input input-value="selectedCirculation.newTransferDate" e-datepicker
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày hẹn:
                            </label>
                            <div class="col-md-7">
                                <input input-value="selectedCirculation.newAppointmentDate" e-datepicker
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-disabled="!selectedCirculation.newAppointmentDate || selectedCirculation.newPayMoney <= 0"
                        ng-click="saveChotModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu</button>
            </div>
        </div>
    </div>
</div>