<div class="row mb-20">
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary" ng-click="saveCustomer()">Lưu</button>

    </div>
</div>

<hot-table hot-id="my-handsontable"
           settings="settings"
           row-headers="settings.rowHeaders"
           min-spare-rows="settings.minSpareRows"
           datarows="customers">
    <hot-column data="name" title="'Họ và tên'" type="'text'" width="100"></hot-column>
    <hot-column data="numberId" title="'Số CMT'" type="'text'" width="60"></hot-column>
    <hot-column data="address" title="'Địa chỉ'" width="150" type="'text'"></hot-column>
    <hot-column data="houseHolderNo" title="'Số sổ HK'" type="'text'" width="60"></hot-column>
    <hot-column data="phone" title="'Số điện thoại'" type="'text'" width="60"></hot-column>
    <hot-column data="photo" title="'Ảnh đại diện'" type="'text'" width="100" read-only></hot-column>

    <!--<hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">-->
    <!--<hot-autocomplete datarows="description in product.options"></hot-autocomplete>-->
    <!--</hot-column>-->
</hot-table>

<div class="modal fade" id="avatarModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật ảnh đại diện</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
                    <img ngf-thumbnail="fileUp"
                         class="thumb bdrs-50p imageAvatar">

                    <img ng-src="{{updateAvatar.photo || '/assets/images/anonymous.png'}}"
                         class="bdrs-50p imageAvatar" ng-if="!fileUp">

                    <div class="fileuploadButton">
                        <!--<input class="fileInput" type="file" title=" " nv-file-select-->
                        <!--uploader="uploader" onclick="this.value=null"-->
                        <!--accept=".gif,.jpg,.jpeg,.png"-->
                        <!--id="FileUploader">-->
                        <input class="fileInput" type="file" ng-model="fileUp" ngf-select
                               ngf-pattern="'image/*'"
                               ngf-accept="'image/*'" ngf-resize="{width: 400, height: 400, centerCrop: true}"
                               title=" ">
                        <a href="#">
                            <i class="fa fa-upload"></i>
                            <span>Thay đổi ảnh</span>
                        </a>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>-->
                <button type="button" class="btn btn-primary" ng-click="saveAvatarModal()" ng-disabled="!fileUp || formProcessing"><i ng-show="formProcessing" class="fa fa-spinner fa-spin"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>