<div class="bgc-white bd bdrs-3 p-5 mB-20" ng-show="!showInfoCus">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active"><a ui-sref=".cusInput">Nhập khách</a></li>
        <li ui-sref-active="active"><a ui-sref=".cusInfo">Thông tin khách</a></li>
    </ul>
    <div class="tab-content">
        <div ui-view="content" class="tab-pane col-md-12 bgc-white p-20 active">

        </div>
    </div>
</div>

<!--<div class="bd bdrs-3 p-20 mB-20" ng-show="showInfoCus">-->
    <!--<ul class="nav nav-tabs">-->
        <!--<li class="active"><a data-target="#InfoCus" data-toggle="tab">-->
            <!--<button ng-click="hideInfoCus()" class="close closeTab" type="button">×</button>-->
            <!--Thông tin khách hàng</a></li>-->
    <!--</ul>-->

    <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
    <!--<div class="tab-content">-->
        <!--<div class="tab-pane col-md-12 bgc-white p-20 active" id="InfoCus"-->
             <!--style="background-color: #f7f8fa !important;">-->
            <!--<div class="cold-md-12" style="text-align: center;" ng-show="formProcessing">-->
                <!--<i class="fa fa-spinner fa-pulse fa-3x" style="text-align: center;"></i>-->
            <!--</div>-->

            <!--<div class="row" ng-show="!formProcessing">-->
                <!--<div class="col-md-4">-->
                    <!--<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">-->
                        <!--<img ng-src="{{selectedCustomer.customer.photo || '/assets/images/anonymous.png'}}"-->
                             <!--class="bdrs-50p imageAvatar">-->
                        <!--&lt;!&ndash;<i class="fa fa-spinner fa-pulse fa-3x"></i>&ndash;&gt;-->
                        <!--<div>-->
                            <!--&lt;!&ndash;<input class="fileInput" type="file" title=" " nv-file-select&ndash;&gt;-->
                            <!--&lt;!&ndash;uploader="uploader" onclick="this.value=null"&ndash;&gt;-->
                            <!--&lt;!&ndash;accept=".gif,.jpg,.jpeg,.png"&ndash;&gt;-->
                            <!--&lt;!&ndash;id="FileUploader">&ndash;&gt;-->
                            <!--<input class="fileInput" type="file" ngf-select="uploadNew($file)" type="file"-->
                                   <!--ngf-pattern="'image/*'"-->
                                   <!--ngf-accept="'image/*'" ngf-resize="{width: 400, height: 400, centerCrop: true}"-->
                                   <!--title=" ">-->
                            <!--<a href="#">-->
                                <!--<i class="fa fa-upload"></i>-->
                                <!--<span>Thay đổi ảnh</span>-->
                            <!--</a>-->

                            <!--&lt;!&ndash;<img ngf-thumbnail="filePreview" class="thumb">&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="widget-box">-->
                        <!--<div class="col-md-12 form-inline row-border label-style">-->
                            <!--<div class="form-group col-md-12 ptb5">-->
                                <!--<label class="col-md-6 control-label">-->
                                    <!--Họ và tên:-->
                                <!--</label>-->
                                <!--<div class="col-md-6 control-label">-->
                                        <!--<span> {{selectedCustomer.customer.name}}-->
                                        <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-md-12 ptb5">-->
                                <!--<label class="col-md-6 control-label">-->
                                    <!--Gói vay:-->
                                <!--</label>-->
                                <!--<div class="col-md-6 control-label">-->
                                        <!--<span class="handsontable-td-red"> {{contractInfo.loanMoney | number}}-->
                                        <!--</span>-->
                                    <!--<span> VNĐ</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-md-12 ptb5">-->
                                <!--<label class="col-md-6 control-label">-->
                                    <!--Thực thu:-->
                                <!--</label>-->
                                <!--<div class="col-md-6 control-label">-->
                                        <!--<span class="handsontable-td-red"> {{contractInfo.actuallyCollectedMoney | number}}-->
                                        <!--</span>-->
                                    <!--<span> VNĐ</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-md-12 ptb5">-->
                                <!--<label class="col-md-6 control-label">-->
                                    <!--Ngày vay:-->
                                <!--</label>-->
                                <!--<div class="col-md-6 control-label">-->
                                        <!--<span>-->
                                            <!--{{contractInfo.createdAt}}-->
                                        <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-md-12 ptb5 mt20">-->
                        <!--<ui-select ng-model="filter.contractNo" theme="bootstrap"-->
                                   <!--on-select="fromSelected($item, $model)">-->
                            <!--<ui-select-match placeholder="Số hợp đồng">-->
                                <!--<span ng-bind="$select.selected.contractNo"></span>-->
                            <!--</ui-select-match>-->
                            <!--<ui-select-choices repeat="item.contractNo as item in contracts">-->
                                <!--<span ng-bind="item.contractNo"></span>-->
                            <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="col-md-8">-->
                    <!--<div class="btn-group">-->
                        <!--<button class="btn btn-success" ng-class="{active: currentView === 'basicDay'}"-->
                                <!--ng-click="changeView('basicDay', 'myCalendar1')">Theo Ngày-->
                        <!--</button>-->
                        <!--<button class="btn btn-success" ng-class="{active: currentView === 'basicWeek'}"-->
                                <!--ng-click="changeView('basicWeek', 'myCalendar1')">Theo Tuần-->
                        <!--</button>-->
                        <!--<button class="btn btn-success" ng-class="{active: currentView === 'month'}"-->
                                <!--ng-click="changeView('month', 'myCalendar1')">Theo Tháng-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col-md-12 widget-box">-->
                        <!--<div class="calendar" ng-model="eventSources" calendar="myCalendar1"-->
                             <!--ui-calendar="uiConfig.calendar">-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
