<div class="row mb-20">
    <div class="col-sm-2" e-route-name="contract.viewDate">
        <input e-datepicker
               data-inputmask-alias="datetime"
               data-inputmask-inputformat="dd/mm/yyyy"
               type="text"
               class="form-control datemask" input-value="filter.date"
               placeholder="Chọn ngày"
               ng-required="true">
    </div>
</div>

<div class="row col-md-12">
    <h5>Tổng thu: </h5>&nbsp;&nbsp;<h5 class="text-danger">{{totalMoneyPaid | number}}</h5>
</div>

<div style="width: 100%; height: auto; overflow: auto" id="hotChotTable"></div>

<div class="row col-sm-12">
    <div class="search-result col-md-4" style="margin: 27px 0 27px -15px;">
        Hiển thị <b>{{pagination.totalByPages}}</b> của <b>{{pagination.totalItems}}</b> bản ghi
    </div>
    <div ng-if="pagination.totalItems/pagination.per_page > 1" class="cold-md-5">
        <div class="col-md-offset-2">
            <div class="search-result-page--pagination-container-variant">
                <pagination total-items="pagination.totalItems" ng-model="pagination.page"
                            ng-click="pageChanged()"
                            class="pagination-sm" items-per-page="pagination.per_page" previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"></pagination>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hopDongThuVeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chuyển thu về</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <!--<div class="form-group col-md-12 ptb5">-->
                            <!--<label class="col-md-5 control-label">Đóng hàng ngày:-->
                            <!--</label>-->
                            <!--<div class="col-md-7">-->
                                <!--<label class="text-red-bold"> {{contractSelected.dailyMoneyPay | number}}-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.createdAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newTransferDate" e-datepicker
                                       ng-click="openDate($event,1)"
                                       is-open="opened"
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Tiền góp nhẹ:
                            </label>
                            <div class="col-md-7">
                                <input type="text" name="newPayMoney" format-number
                                       ng-model="contractSelected.newPayMoney"
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng trả gốc:
                            </label>
                            <div class="col-md-7">
                                <input type="text" name="payMoneyOriginal" format-number
                                       ng-model="contractSelected.payMoneyOriginal"
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-disabled="!contractSelected.newTransferDate || formProcessing"
                        ng-click="saveThuVeModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="hopDongBeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chuyển bễ</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.createdAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newTransferDate" e-datepicker
                                       ng-click="openDate($event,1)"
                                       is-open="opened"
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">Ngày hẹn:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newAppointmentDate" e-datepicker
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="contractSelected.newPayMoney" format-number
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Đóng trả gốc:
                            </label>
                            <div class="col-md-7">
                                <input type="text" name="payMoneyOriginal" format-number
                                       ng-model="contractSelected.payMoneyOriginal"
                                       class="form-control textAlign"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary"
                        ng-disabled="!contractSelected.newTransferDate || formProcessing"
                        ng-click="saveBeModal()"><i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ketThucModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kết thúc hợp đồng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="widget-box">
                    <form class="form-inline row-border label-style">
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Họ và tên:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.customer.name}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số hợp đồng:
                            </label>
                            <div class="col-md-7 control-label">
                                <label> {{contractSelected.contractNo}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Gói vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label class="text-red-bold"> {{contractSelected.loanMoney | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Dư nợ:
                            </label>
                            <div class="col-md-7">
                                <label class="text-red-bold"> {{contractSelected.moneyContractOld | number}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày vay:
                            </label>
                            <div class="col-md-7 control-label">
                                <label>
                                    {{contractSelected.createdAt}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Ngày chuyển:
                            </label>
                            <div class="col-md-7">
                                <input input-value="contractSelected.newTransferDate" e-datepicker
                                       ng-click="openDate($event,1)"
                                       is-open="opened"
                                       class="form-control datepicker-ui" type="text" placeholder="Chọn ngày">
                            </div>
                        </div>
                        <div class="form-group col-md-12 ptb5">
                            <label class="col-md-5 control-label">
                                Số tiền đóng:
                            </label>
                            <div class="col-md-7">
                                <input type="text" ng-model="contractSelected.payMoneyOriginal" format-number
                                       class="form-control textAlign"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary" ng-click="saveKetThucModal()"
                        ng-disabled="(contractSelected.payMoneyOriginal > contractSelected.moneyContractOld) || !contractSelected.newTransferDate || formProcessing">
                    <i class="fa fa-spinner fa-spin" ng-show="formProcessing"></i>Lưu
                </button>
            </div>
        </div>
    </div>
</div>